@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

h1 {
   font-family: "Outfit", sans-serif;
  text-align: center;
  padding-top: 15%;
  font-size: 50px;
  color: black;
  font-weight: 400;
}

.bg {
   background-image: url('/bg2.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.greet {
  text-align: center;
  padding: 2rem;
}

.greet h1 {
    font-family: "Outfit", sans-serif;
  font-size: 50px;
  color: black;
  padding: 20px 40px;
  border-radius: 12px;
  background: transparent;
}


.profile-img {
  mix-blend-mode: multiply;
  width: 350px;
  height: auto;
  transition: transform 0.3s ease;
  border-radius: 50%;

}